# Ignore all __pycache__ folders
__pycache__/

# Ignore all .pyc files
*.pyc
*.log

.pytest_cache/
.ruff_cache/

backend/uploads
backend/logs
backend/external
backend/models

.env
frontend/.env
.git_gitea
.git_github